/*everything inherits this file
 yes */

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="password"] {
  outline: none;
  padding: 10px;
  display: block;
  width: 300px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
  font-size: 15px;
}

input[type="submit"] {
  padding: 10px;
  color: #fff;
  background: purple;
  width: 300px;
  margin: 20px auto;
  margin-top: 0px;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: black;
  transition: all 0.5s ease-in;
}

.header {
  border-bottom: 1px solid #eee;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
}

.header a {
  color: white;
  text-decoration: none;
}

#navbar ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  text-align: center;
  background-color: none;
  margin-right: 5%;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  font-family: poppins;
  font-weight: bold;
  font-size: 23px;
  padding: 0.2em 1em;
  color: white;
  background-color: none;
}

#navbar ul li a:hover {
  color: white;
  background-color: black;
  transition: all 0.5s ease-in;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  text-align: center;
  background-image: url("../images/bg.jpg");
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  color: white;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: right;
  width: 10%;
  height: 10%;
  padding: 10px;
  margin-right: 0px;
  font-size: 20px;
}

.column a:hover {
  color: white;
  background-color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  font-family: poppins;
  display: table;
  float: left;
  background-color: none;
  color: white;
  float: left;
  width: 85%;
  margin-left: 5%;
  margin-top: 0%;
  text-align: center;
}

.getstarted {
  border-radius: 20px;
}
.applynow {
  border-radius: 20px;
}
.applynow:hover {
  color: white;
  background-color: black;
  transition: all 0.5s ease-in;
}
.getstarted:hover {
  color: white;
  background-color: black;
  transition: all 0.5s ease-in;
}

.ad1 {
  float: top;
  background-color: none;
  color: white;
  font-size: 22px;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
}

.ad1img img {
  max-width: 15%;
  height: auto;

}
.ad1img img:hover {
  background-color: none;
  color: none;
  transition: all 0.5s ease-in;
}
.ad2 {
  float: left;
  background-color: none;
  color: white;
  font-size: 22px;
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
}
.ad2img img {
  max-width: 15%;
  height: auto;
}

.ad3 {
  float: right;
  background-color: none;
  color: white;
  width: 30%;
  margin-left: 5%;
  margin-top: 10%;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: black;
  transition: all 0.5s ease-in;
}

h4 {
  color: white;
}

#account ul li a {
font-size: large;
font-weight: bold;
margin-left: -70px;


}


.login {
  padding: 10px;
  width: 320px;
  margin: 20px auto;
  margin-top: 100px;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
   background-color: #000; /* Fallback for older browsers */
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    
}

.register {
  padding: 10px;
  width: 400px;
  margin: 20px auto;
  margin-top: 100px;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
   background-color: #000; /* Fallback for older browsers */
    background-color: rgba(0, 0, 0, 0.6);
    color:white;
    
}